html{
    height: 100%;
    body {
        height: 100%;
    }
}

div {
    div {
        ul {
            li {
                list-style: none;
                margin-left: 0;
            }
        }
        form {
            .input {
                width: 50%;
            }
            button {
                margin-top: 10px;
            }
            .select {
                width: 20%;
            }
        }
    }
} 